# This workflow will build and publish the Python package to PyPi and the documentation to the `gh-pages` branch of the
# repository when a new tag is added.
# It uses the `peaceiris/actions-gh-pages` action to handle the GitHub pages publishing and
# `pypa/gh-action-pypi-publish@release/v1` to publish to pypi using trusted publishers feature.
#
# Copyright (c) 2025 MeteoSwiss, created by Michele Cattaneo; michele.cattaneo@meteoswiss.ch

name: CI_publish

on:
  push:
    tags: '**'

jobs:

  tests:
    uses: ./.github/workflows/CI_test.yaml

  publish:
    runs-on: ubuntu-latest
    needs: tests

    permissions:
      id-token: write
      contents: write
      pages: write

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install poetry and python package
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry install

    - name: Build artifacts
      run: |
        poetry version ${GITHUB_REF#refs/tags/}
        poetry build

    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist/

    - name: Build documentation
      env:
        DOCUMENTATION_VERSION: ${{ github.ref_name }}
      run: poetry run sphinx-build doc doc/_build/${{ github.ref_name }}

    - name: Publish documentation
      uses: peaceiris/actions-gh-pages@v3

      with:
        publish_branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: doc/_build/
        keep_files: true
